<header class="header">
    <div class="container">
        <h2 class="header__title">Fork App</h2>
        <span class="header__subtitle">A real gamechanger in the world of web development</span>
        <span class="header__version">v. 2.8 For Mac and Windows</span>

        <div class="header__form">
            <a href="#" class="header__btn btn">Download For Free Now</a>
            <h4 class="header__btn--info">Unlimited 30-Days Trial Period</h4>
        </div>
    </div>
</header>