<section class="revolutionary-section">
    <h2 class="revolutionary__title">Revolutionary editor</h2>
    <p class="revolutionary__subtitle">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
    <div class="github__buttons">
        <div class="github__item">
            <a href="#" class="github__btn github__btn--watch">Watch</a>
            <span class="github__btn--count">1,397</span>
        </div>
        <div class="github__item">
            <a href="#" class="github__btn github__btn--star">Star</a>
            <span class="github__btn--count">1,397</span>
        </div>
        <div class="github__item">
            <a href="#" class="github__btn github__btn--fork">Fork</a>
            <span class="github__btn--count">1,397</span>
        </div>
     
    </div>
</section>