.btn{
    background-color: #8D81AC;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    text-align: center;
    color: white;
    border: 2px solid transparent;

    &:hover {
        color: $color;
        background-color: white;
        border: 2px solid $color;
    }
}