.about-us-section{
    background-color: #F4F4F4;
    padding-top: 94px;
    @include flex;
    flex-direction: row-reverse;
    padding-left: 91px;
    justify-content: space-between;
    overflow: hidden;
}
.about-us__bg-img{
    background-image: url(../img/about-us-img.svg);
    background-position: left;
    min-height: 519px;
    min-width: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
.about-us__title{
    @include section-title;
    color: $color;
    text-align: center;
}


.goods{
    @include flex;
    flex-wrap: nowrap;
    margin-bottom: 34px;

    &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    
        
    &--text{
    margin-top: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    }
}
}

.goods__img{
    min-width: 111px;
    margin-right: 23px;
}

.flex-col-2{
    width: 46%;
}
.about-us__img{
    display: none;
}

@media (max-width: 768px){
    .about-us-section{
        background-color: #fff;
        font-size: 42px;
        padding-top: 62px;
        padding-left: 0px;
        display: block;
    }
    .about-us__title{
        font-size: 42px;
        padding-top: 62px;
    }
    .about-us__bg-img{
        display: none;
    }
    .flex-col-2{
        width: 100%;
    }
    .about-us__img{
        display: block;
    }
    .about-us__title{
        font-size: 42px;
        margin-bottom: 50px;
    }
}

@media ($phone){
    .about-us-section{
        font-size: 32px;
        margin-bottom: 32px;
        padding-left: 0;
        padding: 0 10px;
    }
    .about-us__title{
        font-size: 32px;
        line-height: 38px;
    }
    .goods{
        display: flex;
        flex-direction: column;
        text-align: center;
        &__img{
            margin: 0 0 20px 0;
        }
        &__title{
            font-size: 16px;
            &--text{
                font-size: 16px;
            }
        }
    }
    .goods__description{
        display: block;
    }

    .about-us__img {
        width: 520px;
    }
}
