.footer{
    
    margin: 0 auto;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__title{
    @include section-title;
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center;

    @media ($phone) {
        font-size: 42px;
    }
}

.flex__container{
    @include flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
    max-width: 320px;
    padding-bottom: 90px;
    align-items: center;
    
}
.card{
    min-width: 257px;
    margin-bottom: 14px;
 
    &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #6D5C6B;
    padding: 40px 0;
    }
    
}

.card__title--active{
    min-width: 299px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3F2C41;
    padding: 40px 0;
}

.price_active{
    font-size: 82px;
}


.flex{
    
    @include flex__column;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal; 
    color: #FFFFFF;
    align-items: center;
    background-color: #655365;
    &_active{
        background-color: #4D364F;
        @include flex__column;
        justify-content: space-between;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal; 
        color: #FFFFFF;
        align-items: center;
    }
}
.flex__item{
    flex: 0 1 64px;
    align-items: center;
    padding: 10px;
    &_active{
        flex: 0 1 76px;
        padding: 15px;  
    }
}
.price{
    font-size: 60px;
    text-transform: uppercase;
    
    &__period{
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
    
        &::after{
            content: "";
            position: absolute;
            top: 38px;
            left: 50%;
            transform: translate(-50%);
            border-bottom: 5px solid $color;
            width: 60px;
        }
    }
}

.type{
    font-size: 16px;
    max-width: 220px;
    text-align: center;
}

.card__btn{
    width: 163px;
    display: inline-block;
    padding: 15px 18.5px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}


@media (min-width: 768px){
    .flex__container{
        max-width: 592px;
    }
    .footer__title{
        font-size: 42px;
        padding-top: 88px;
    }
}

@media (min-width: 1200px){
    .flex__container{
        max-width: 1200px;
    }

}

