@import '../varaibles';

.header {
  width: 100%;
  padding: 183px 0 460px;
  text-align: center;
  background: url("../img/bg-1.png") no-repeat center;
  background-size: cover;
  text-transform: capitalize;
  position: relative;

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 82px;
    color: #fff;
    width: max-content;
    margin: 0 auto;
    
    @media ($tablet) {
      font-size: 72px;
    }

    @media ($phone) {
      font-size: 48px;
    }
  }

  &__subtitle {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: $color;
    width: max-content;
    margin: 20px auto 0;
    
    @media ($tablet) {
      font-size: 24px;
    }

    @media ($phone) {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__version {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #848E97;
    text-transform: uppercase;
    width: max-content;
    margin: 15px auto 0;

    @media ($phone) {
      width: 100%;
      text-align: center;
    }
  }

  &__form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 65%);
  }

  &__btn {
    width: max-content;
    display: block;
    padding: 22px 43px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 21px;
    
    @media ($phone) {
      font-size: 18px;
      padding: 14px 40px;
      margin-bottom: 13px;
    }
  }

  &__btn--info {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #848E97;
  }
}