.revolutionary-section{
    background-color:white;
}
.revolutionary__title{
    @include section-title;
    color: #635C73;
    padding-top: 112px;
    text-align: center;
    
}

.revolutionary__subtitle{
    max-width: 861px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    text-align: center;
    padding: 36px 35px 10px 35px;
    margin: 0 auto;
}

.github__buttons{
    @include flex__center;
    margin: 0 auto;
    padding-bottom: 70px;
}
.github__item{
    margin: 10px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    border-right: 1px solid #D5D5D5;
    @include flex__between;
    align-items: center;
}

.github__btn{
    height: 100%;
    text-decoration: none;
    color: #4F6770;
    background-color:#F6F6F6;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    &--count{
        padding: 10px;
        font-size: 12px;
    }
}

.github__btn::before{
    content: '\2605';
    margin: 0 5px 10px 0;
    color: black;
}

@media (max-width: 768px){
    .revolutionary__title{
        font-size: 42px;
        padding-top: 102px;
    }
    .revolutionary__subtitle{
        font-size: 21px;
        line-height: 32px;
    }
    .github__buttons{
        padding-bottom: 98px;
    }
}

@media (max-width: 320px){
    .revolutionary__title{
        font-size: 26px;
        line-height: 28px;
        padding-top: 80px;
    }
    .revolutionary__subtitle{
        font-size: 14px;
        line-height: 20px;
    }
    .github__buttons{
        padding-bottom: 20px;
    }
}



