@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/../fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/../fonts/Lato/Lato-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/../fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/../fonts/Lato/Lato-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/../fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
}

.title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-transform: capitalize;
}

.btn {
  background-color: #8D81AC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  color: white;
  border: 2px solid transparent;
}

.btn:hover {
  color: #8D81AC;
  background-color: white;
  border: 2px solid #8D81AC;
}

.navbar {
  width: 100%;
  padding: 31px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8D81AC;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: transparent;
}

.navbar__logo--link {
  color: #8D81AC;
  text-decoration: none;
  max-height: 38px;
}

.navbar__btn {
  text-decoration: none;
  padding: 12px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__logo--block {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo--block:hover .navbar__logo {
  color: white;
}

.navbar__logo {
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.navbar__links {
  max-width: 710px;
  width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  color: #8D81AC;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 900;
}

.navbar__link:hover {
  color: white;
}

.burger__block {
  display: none;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.burger {
  width: 26px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.burger--uniq {
  width: 15px;
}

.burger--uniq--active {
  -webkit-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
          transform: translateX(-70%);
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.burger--close {
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.burger--up {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(945deg);
      -ms-transform: translateY(-50%) rotate(945deg);
          transform: translateY(-50%) rotate(945deg);
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.burger--down {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-945deg);
      -ms-transform: translateY(-50%) rotate(-945deg);
          transform: translateY(-50%) rotate(-945deg);
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.header {
  width: 100%;
  padding: 183px 0 460px;
  text-align: center;
  background: url("../img/bg-1.png") no-repeat center;
  background-size: cover;
  text-transform: capitalize;
  position: relative;
}

.header__title {
  font-family: Montserrat, sans-serif;
  font-size: 82px;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.header__subtitle {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #8D81AC;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto 0;
}

.header__version {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #848E97;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 15px auto 0;
}

.header__form {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 65%);
      -ms-transform: translate(-50%, 65%);
          transform: translate(-50%, 65%);
}

.header__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 22px 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 21px;
}

.header__btn--info {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #848E97;
}

.revolutionary-section {
  background-color: white;
}

.revolutionary__title {
  color: #FFFFFF;
  font-size: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #635C73;
  padding-top: 112px;
  text-align: center;
}

.revolutionary__subtitle {
  max-width: 861px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
  text-align: center;
  padding: 36px 35px 10px 35px;
  margin: 0 auto;
}

.github__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-bottom: 70px;
}

.github__item {
  margin: 10px;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github__btn {
  height: 100%;
  text-decoration: none;
  color: #4F6770;
  background-color: #F6F6F6;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.github__btn--count {
  padding: 10px;
  font-size: 12px;
}

.github__btn::before {
  content: '\2605';
  margin: 0 5px 10px 0;
  color: black;
}

.about-us-section {
  background-color: #F4F4F4;
  padding-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 91px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.about-us__bg-img {
  background-image: url(../img/about-us-img.svg);
  background-position: left;
  min-height: 519px;
  min-width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.about-us__title {
  color: #FFFFFF;
  font-size: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8D81AC;
  text-align: center;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 34px;
}

.goods__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}

.goods__title--text {
  margin-top: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
}

.goods__img {
  min-width: 111px;
  margin-right: 23px;
}

.flex-col-2 {
  width: 46%;
}

.about-us__img {
  display: none;
}

.review {
  height: 100%;
  padding: 108px 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/review-bg.png") no-repeat center;
  background-size: cover;
}

.review__cards--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
  height: 500px;
}

.review__card {
  max-width: 345px;
  text-align: center;
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.review__card--img {
  max-height: 50px;
}

.review__card--text {
  max-width: 320px;
  margin-top: 33px;
  line-height: 24px;
}

.review__text {
  max-width: 860px;
  margin: 120px auto 0;
  color: #A291A5;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 21px;
  position: relative;
}

.review__text::before {
  content: "";
  width: 770px;
  height: 2px;
  background-color: #645766;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.footer {
  margin: 0 auto;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__title {
  color: #FFFFFF;
  font-size: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  min-width: 257px;
  margin-bottom: 14px;
}

.card__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #6D5C6B;
  padding: 40px 0;
}

.card__title--active {
  min-width: 299px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #3F2C41;
  padding: 40px 0;
}

.price_active {
  font-size: 82px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #655365;
}

.flex_active {
  background-color: #4D364F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64px;
          flex: 0 1 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.flex__item_active {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 76px;
          flex: 0 1 76px;
  padding: 15px;
}

.price {
  font-size: 60px;
  text-transform: uppercase;
}

.price__period {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.price__period::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  border-bottom: 5px solid #8D81AC;
  width: 60px;
}

.type {
  font-size: 16px;
  max-width: 220px;
  text-align: center;
}

.card__btn {
  width: 163px;
  display: inline-block;
  padding: 15px 18.5px;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .flex__container {
    max-width: 592px;
  }

  .footer__title {
    font-size: 42px;
    padding-top: 88px;
  }
}

@media (min-width: 1200px) {
  .flex__container {
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .title {
    font-size: 42px;
  }

  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 20px;
  }

  .navbar__links {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .navbar__link {
    margin: 0 18px;
  }

  .header__title {
    font-size: 72px;
  }

  .header__subtitle {
    font-size: 24px;
  }

  .revolutionary__title {
    font-size: 42px;
    padding-top: 102px;
  }

  .revolutionary__subtitle {
    font-size: 21px;
    line-height: 32px;
  }

  .github__buttons {
    padding-bottom: 98px;
  }

  .about-us-section {
    background-color: #fff;
    font-size: 42px;
    padding-top: 62px;
    padding-left: 0px;
    display: block;
  }

  .about-us__title {
    font-size: 42px;
    padding-top: 62px;
  }

  .about-us__bg-img {
    display: none;
  }

  .flex-col-2 {
    width: 100%;
  }

  .about-us__img {
    display: block;
  }

  .about-us__title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
    width: 307px;
    text-align: center;
  }

  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 34px 10px;
    background-color: #27262A;
  }

  .navbar__logo--block {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__links {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 113px;
    background-color: #27262A;
    z-index: -2;
    -webkit-transition: height 1.4s ease-out;
    -o-transition: height 1.4s ease-out;
    transition: height 1.4s ease-out;
    overflow: hidden;
  }

  .navbar__links--active {
    height: 389px;
    padding: 0;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .navbar__link {
    width: 290px;
    height: 0;
    padding: 29px 0 29px 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 3px solid #3B3B3B;
    font-size: 26px;
    font-weight: 100;
    margin: 0;
    color: white;
    position: relative;
    -webkit-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
  }

  .navbar__link::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 53px;
    background-color: #8D81AC;
    left: 0;
    top: 19px;
    display: none;
  }

  .navbar__link:hover::before {
    display: block;
  }

  .navbar__link:hover {
    color: #8D81AC;
  }

  .navbar__link--active {
    height: 88px;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .burger__block {
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__title {
    font-size: 48px;
  }

  .header__subtitle {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }

  .header__version {
    width: 100%;
    text-align: center;
  }

  .header__btn {
    font-size: 18px;
    padding: 14px 40px;
    margin-bottom: 13px;
  }

  .about-us-section {
    font-size: 32px;
    margin-bottom: 32px;
    padding-left: 0;
    padding: 0 10px;
  }

  .about-us__title {
    font-size: 32px;
    line-height: 38px;
  }

  .goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .goods__img {
    margin: 0 0 20px 0;
  }

  .goods__title {
    font-size: 16px;
  }

  .goods__title--text {
    font-size: 16px;
  }

  .goods__description {
    display: block;
  }

  .about-us__img {
    width: 520px;
  }

  .review {
    height: 1545px;
    padding: 57px 0 57px;
    background-color: #4B3B4E;
  }

  .review__cards--block {
    margin-top: 53px;
  }

  .review__card--text {
    margin-bottom: 45px;
  }

  .review__text {
    display: none;
  }

  .footer__title {
    font-size: 42px;
  }
}

@media (max-width: 320px) {
  .revolutionary__title {
    font-size: 26px;
    line-height: 28px;
    padding-top: 80px;
  }

  .revolutionary__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .github__buttons {
    padding-bottom: 20px;
  }
}