@mixin fonts($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin flex{
  display: flex;
  flex-wrap: wrap;
}

@mixin flex__center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flex__between {
  @include flex;
  justify-content: space-between;
}

@mixin flex__column {
  @include flex;
  flex-direction: column;
}

@mixin focus {
  background-color: #8D81AC;
  width: 8px;
  height: 53px;
}

@mixin active__card {
   
}

@mixin section-title($color: #FFFFFF,$size: 48px) {
  color:$color;
  font-size: $size;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  @include flex__center;
}