@import "mixins";
@import "fonts";
@import "varaibles";

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1040px;
  height: 100%;
  margin: 0 auto;

  @media ($tablet) {
    max-width: 700px;
  }

  @media ($phone) {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

@import "components/components";
@import "sections/sections";